.grey-bkg {
  background-color: #000;
}
.bkg-style {
  background-color: #a5c6a5 !important;
  height: 100vh !important;
}

.homepage {
  margin-top: 20vh;
}
.forgot-password {
  background-color: #fafafa;
  padding: 3rem;
}
.page-footer {
  margin-top: 8px;
  padding-top: 0px;
  color: #000;
  background-color: #fff;
  font-size: 17px;
}