
.create-idea {
  background-color: #fff;
  margin: auto;
  margin-top: 100px;
  padding: 3rem;
  max-width: 800px;
  width: 100%;

  @media (max-width: 768px) {
    margin: 100px 2rem 0;
  }
}


.close-btn {
  margin-top: -2.9rem !important;
  margin-right: -1.8rem !important;
}

.grid {
  margin: auto;
  margin-top: 100px;
  padding: 3rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .grid-item {
    width: calc((100% - (30px * 2))/3);
    margin: 10px !important;

    @media screen and (max-width: 976px) {
      width: calc((100% - (30px * 1))/2);
    }
    @media screen and (max-width: 676px) {
      width: 100%;
    }
  }
}
.grid-margin {
  margin-top: -50px !important;
}

.card-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.icon-btn {
  font-size: 20px !important;
  cursor: pointer !important;
}

.card {
  background-color: #f1e8d4 !important;
  .card-action {
    padding: 0px 0px !important;
  }
}

.category-text {
  margin-top: 2rem;
  color: #1a3448;
  font-size: 16px;
}

.delete-btn {
  cursor: pointer !important;
}
.row {
  margin-bottom: -5px !important;
}
.cancel-btn {
  position: absolute;
  right: 12px;
  top: 13px;
  color: #fff;
  opacity: .6;
}
.search-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
